
<div class="wrapper">
	<h2>Contact</h2>

	<div class="contain--contact">
		<div class="city city--la">
			<h4>@Los Angeles (US)</h4>
			<div class="adress">
				<p>Estelle Garnier</p>
				<p>French Accelerator</p>
				<p>egarnier@frenchaccelerator.com</p>
				<p>+1 410 49 6948</p>
			</div>
			<div class="website">
				<p>www.frenchaccelerator.com</p>
				<p>@fr_accelerator</p>
			</div>
		</div>

		<div class="city city--fr">
			<h4>@Paris (FR)</h4>
			<div class="adress">
				<p>Gilles Broquelet</p>
				<p>Cap Value</p>
				<p>gbroquelet@capvalue.fr</p>
				<p>01 80 81 50 51 - 06 85 82 41 97</p>
			</div>
			<div class="website">
				<p>www.capvalue.fr</p>
				<p>@capvalue</p>
			</div>
		</div>
	</div>
</div>
