<footer class="footer--ld">
	<div class="wrapper">
		<div class="contain--footer--ld">
			<div class="contain--one">
				<ul>
					<li class="item--footer item--footer_lang">
						<ul>
							<li class="lang--fr lang-active">
								<a href="">Fr</a>
							</li>
							<li class="lang--en">
								<a href="">En</a>
							</li>
						</ul>
					</li>
					<li class="item--footer item--footer_twitter">
						<span class="content--none">twitter</span>
					</li>

					<li class="item--footer item--footer_facebook">
						<span class="content--none">facebook</span>
					</li>
				</ul>
			</div>
			<div class="contain--two">
				<ul>
					<li class="item--footer">&copy; 2016 French Accelerator : All rights reserved - </li>
					<li class="item--footer">Crafted with "coeur" by <a href="">Bold+Beyond</a></li>
				</ul>
			</div>

		</div>
	</div>
</footer>
