<header class="header--ld">
	<div class="contain--header--ld">
		<div class="menu">
			<div class="logo">
					<img src="img/fa--logo.png" alt="">
			</div>
			<div class="navigation">
				<ul>
					<li class="item--navigation">
						<a href="" class="item--link">Accelerator</a>
					</li>
					<li class="item--navigation">
						<a href="" class="item--link">Compagnies</a>
					</li>
					<li class="item--navigation">
						<a href="" class="item--link">Leadership</a>
					</li>
					<li class="item--navigation">
						<a href="" class="item--link">Insights</a>
					</li>
					<li class="item--navigation">
						<a href="" class="item--link">Press</a>
					</li>
					<li class="item--navigation">
						<a href="" class="item--link item-link_apply">Apply</a>
					</li>
				</ul>
			</div>
		</div>
		<div class="title--ld">
			<h1>French Accelerator Days</h1>
		</div>
		<div class="subtitle--ld">
			<p class="subtitle--one">1er au 4 décembre 2016</p>
			<p class="subtitle--two uppercase">3 jours de rencontres à la sillicon Beach</p>
			<p class="subtitle--three">Best pratices et échanges avec les fonds et start-ups locales @LosAngeles</p>
		</div>

		<div class="push">
			<a href="https://www.eventbrite.com/e/french-accelerator-los-angeles-tour-2016-tickets-26121804019" class="btn btn--custom">Book Now</a>
		</div>

		<div class="direction">
			<a href="#" class="arrow--bottom"></a>
		</div>

		<div class="header--list--logo">
			<ul>
				<li class="item--header--logo">
					<a href="" class="link--header--logo">
						<img src="img/test-logo.png" alt="">
					</a>
				</li>
				<li class="item--header--logo">
					<a href="" class="link--header--logo">
						<img src="img/test-logo.png" alt="">
					</a>
				</li>
				<li class="item--header--logo">
					<a href="" class="link--header--logo">
						<img src="img/test-logo.png" alt="">
					</a>
				</li>
				<li class="item--header--logo">
					<a href="" class="link--header--logo">
						<img src="img/test-logo.png" alt="">
					</a>
				</li>
				<li class="item--header--logo">
					<a href="" class="link--header--logo">
						<img src="img/test-logo.png" alt="">
					</a>
				</li>
				<li class="item--header--logo">
					<a href="" class="link--header--logo">
						<img src="img/test-logo.png" alt="">
					</a>
				</li>
			</ul>
		</div>
	</div>
</header>
