<div class="wrapper">

	<h2>Intervenants</h2>

	<div class="contain--intervenants">

		<p class="subtitle--ld">
			Atelier anumé par le journaliste du L.A Times, Petter McLeod (spécialiste des start ups )
		</p>

		<div class="block--intervenant block--intervenant_startup">
			<h3 class="uppercase">Start-ups</h3>
			<ul class="list--logo">
				<li class="style--logo su--logo1">
					<img src="img/su--logo1.png" alt="">
					Nom Prénom
				</li>
				<li class="style--logo su--logo2">
					<img src="img/su--logo2.png" alt="">
					Nom Prénom
				</li>
				<li class="style--logo su--logo3">
					<img src="img/su--logo3.png" alt="">
					Nom Prénom
				</li>
				<li class="style--logo su--logo4">
					<img src="img/su--logo4.png" alt="">
					Nom Prénom
				</li>
				<li class="style--logo su--logo5">
					<img src="img/su--logo5.png" alt="">
					Nom Prénom
				</li>
				<li class="style--logo su--logo6">
					<img src="img/su--logo6.png" alt="">
					Nom Prénom
				</li>
				<li class="style--logo su--logo7">
					<img src="img/su--logo7.png" alt="">
					Nom Prénom
				</li>
				<li class="style--logo su--logo8">
					<img src="img/su--logo8.png" alt="">
					Nom Prénom
				</li>
				<li class="style--logo su--logo9">
					<img src="img/su--logo9.png" alt="">
					Nom Prénom
				</li>
				<li class="style--logo su--logo10">
					<img src="img/su--logo10.png" alt="">
					Nom Prénom
				</li>
				<li class="style--logo su--logo11">
					<img src="img/su--logo11.png" alt="">
					Nom Prénom
				</li>
			</ul>
		</div>

		<div class="block--intervenant block--intervenant_us">
			<h3 class="uppercase">Fond U.S.</h3>
			<ul class="list--logo">
				<li class="style--logo us--logo1">
					<img src="img/us--logo1.png" alt="">
					Nom Prénom
				</li>
				<li class="style--logo us--logo2">
					<img src="img/us--logo2.png" alt="">
					Nom Prénom
				</li>
				<li class="style--logo us--logo3">
					<img src="img/us--logo3.png" alt="">
					Nom Prénom
				</li>
				<li class="style--logo us--logo4">
					<img src="img/us--logo4.png" alt="">
					Nom Prénom
				</li>
				<li class="style--logo us--logo5">
					<img src="img/us--logo5.png" alt="">
					Nom Prénom
				</li>
			</ul>
		</div>
	</div>
</div>
