<h2>Address</h2>

<div class="contain--map">
	<div class="city city--contact">
		<div class="adress">
			<p>1697 Pacific Avenue</p>
			<p>Venice Beach, California 90291</p>
			<p>Etats-Unis</p>
		</div>
		<div class="link--maps">
			<a href="#" class="style--link underline">open google maps</a>
		</div>
		<div class="book">
			<a href="https://www.eventbrite.com/e/french-accelerator-los-angeles-tour-2016-tickets-26121804019" class="btn book--link">book now</a>
		</div>
	</div>
</div>
