<h2>Address</h2>

<div class="contain--map">
	<div class="city city--contact">
		<div class="adress">
			<p>1697 Pacific Avenue</p>
			<p>Venice Beach, California 90291</p>
			<p>Etats-Unis</p>
		</div>
		<div class="link--maps">
			<a href="#" class="style--link">open google maps</a>
		</div>
		<div class="book">
			<button class="btn book--link">book now</button>
		</div>
	</div>
</div>
