<div class="wrapper">
	<h2>Programme</h2>

	<div class="contain--programme">
		<div class="programme--one">
			<div class="header--prg">
				<div class="day--prg uppercase">
					Day 1
				</div>
				<div class="date--prg uppercase border--bottom">
					Jeudi 1er Décembre
				</div>
			</div>
			<div class="details--prg">
				<ul>
					<li class="border--bottom">
						<p>15h-18h : Accueil à l'hôtel Erwin,</p>
						<p>Venice Beach</p>
					</li>
					<li class="border--bottom">
						<p>20h-22h : Dîner privé chez Gjelina,</p>
						<p>Venice Beach</p>
					</li>
					<li>
						<p>22h-23h : Bar Willie James</p>
						<p>(2 consommations)</p>
					</li>
				</ul>
			</div>
		</div>
		<div class="programme--two">
			<div class="header--prg">
				<div class="day--prg uppercase">
					Day 2
				</div>
				<div class="date--prg uppercase border--bottom">
					vendredi 2 Décembre
				</div>
			</div>
			<div class="details--prg">
				<ul>
					<li class="border--bottom">
						<p>8h-11h : Atelier Best Pratices Startups locales,</p>
						<p>Hôtel Erwin : Venice Beach</p>
					</li>
					<li class="border--bottom">
						<p>12h-14h : Déjeuner au Rose Café,</p>
						<p>Venice Beach</p>
					</li>
					<li class="border--bottom">
						<p>14h30-17h30 : Atelier Fonds d'investissements US,</p>
						<p>Hôtel Erwin - Venice Beach</p>
					</li>
					<li>
						<p>21h-23h : Cocktail dinatoire,</p>
						<p>Maison Privatisée - Venice Beach</p>
					</li>
				</ul>
			</div>
		</div>
		<div class="programme--three">
			<div class="header--prg">
				<div class="day--prg uppercase">
					Day 3
				</div>
				<div class="date--prg uppercase class="border--bottom"">
					Samedi 3 Décembre
				</div>
			</div>
			<div class="details--prg">
				<ul>
					<li class="border--bottom">
						<p>8h-11h : Atelier Best Pratices Startups locales,</p>
						<p>Hôtel Erwin : Venice Beach</p>
					</li>
					<li class="border--bottom">
						<p>12h-14h : Déjeuner au Butcher Daughter,</p>
						<p>Venice Beach</p>
					</li>
					<li class="border--bottom">
						<p>14h30-17h30 : Atelier Fonds d'investissements US,</p>
						<p>Hôtel Erwin - Venice Beach</p>
					</li>
					<li class="border--bottom">
						<p>20h-22h : Dîner Bestia, DTLA</p>
					</li>
					<li>
						<p>22h30 : Soirée libre</p>
					</li>
				</ul>
			</div>
		</div>

	</div>

	<div class="download">
		<a href="" class="style--link underline">download the full planning</a>
	</div>

</div>
