.contain--intervenants {
  .subtitle--ld {
    margin: 30px 0;
    @media screen and (min-width: 640px) {
      text-align: center;
    }
  }
}

.list--logo {
  width: 100%;
  padding: 0 20px;
  @media screen and (min-with: 640px) {
    max-width: 1000px;
    margin: 0 auto;
  }
}


.style--logo {
  width: 48%;
  display: inline-block;
  text-align: center;
  @media screen and (min-width: 640px) {
    width: 24%;
  }
  img {
    display: block;
    margin: 25px auto;
  }
}

.block--intervenant_startup {
  margin: 60px 0;
  h3 {
    text-align: center;
  }
  .su--logo1 {
    img {
      width: 90px;
    }
  }
  .su--logo2 {
    img {
      width: 130px;
    }
  }
  .su--logo3 {
    img {
      width: 100px;
    }
  }
  .su--logo4 {
    img {
      width: 70px;
    }
  }
  .su--logo5 {
    img {
      width: 80px;
    }
  }
  .su--logo6 {
    img {
      width: 75px;
    }
  }
  .su--logo7 {
    img {
      width: 90px;
    }
  }
  .su--logo8 {
    img {
      width: 90px;
    }
  }
  .su--logo9 {
    img {
      width: 130px;
    }
  }
  .su--logo10 {
    img {
      width: 130px;
    }
  }
  .su--logo11 {
    img {
      width: 100px;
    }
  }
}

.block--intervenant_us {
  margin: 60px 0;
  h3 {
    text-align: center;
  }
  .us--logo1 {
    img {
      width: 80px;
    }
  }
  .us--logo2 {
    img {
      width: 100px;
    }
  }
  .us--logo3 {
    img {
      width: 100px;
    }
  }
  .us--logo4 {
    img {
      width: 165px;
    }
  }
  .us--logo5 {
    img {
      width: 160px;
    }
  }
}
