.subtitle--ld {
  margin: 30px 0;
}

.list--logo {
  width: 100%;
  padding: 0 20px;
}

.style--logo {
  width: 48%;
  display: inline-block;
  text-align: center;
  img {
    display: block;
    margin: 25px auto;
  }
}

.block--intervenant_startup {
  margin: 60px 0;
  h3 {
    text-align: center;
  }
  .su--logo1 {
    img {
      width: 90px;
    }
  }
  .su--logo2 {
    img {
      width: 130px;
    }
  }
  .su--logo3 {
    img {
      width: 100px;
    }
  }
  .su--logo4 {
    img {
      width: 70px;
    }
  }
  .su--logo5 {
    img {
      width: 80px;
    }
  }
  .su--logo6 {
    img {
      width: 75px;
    }
  }
  .su--logo7 {
    img {
      width: 90px;
    }
  }
  .su--logo8 {
    img {
      width: 90px;
    }
  }
  .su--logo9 {
    img {
      width: 130px;
    }
  }
  .su--logo10 {
    img {
      width: 130px;
    }
  }
  .su--logo11 {
    img {
      width: 100px;
    }
  }
}

.block--intervenant_us {
  margin: 60px 0;
  h3 {
    text-align: center;
  }
  .us--logo1 {
    img {
      width: 80px;
    }
  }
  .us--logo2 {
    img {
      width: 100px;
    }
  }
  .us--logo3 {
    img {
      width: 100px;
    }
  }
  .us--logo4 {
    img {
      width: 165px;
    }
  }
  .us--logo5 {
    img {
      width: 160px;
    }
  }
}
