<footer class="footer-ld">
	<div class="contain--footer--ld">
		<div class="contain--one">
			<ul>
				<li class="item--footer item--footer_lang">
					<ul>
						<li class="lang--fr lang-active"></li>
						<li class="lang--en"></li>
					</ul>
				</li>
				<li class="item--footer item--footer_twitter">
					twitter
				</li>

				<li class="item--footer item--footer_facebook">
					facebook
				</li>
			</ul>
		</div>
		<div class="contain--two"></div>
		<div class="contain--three">
			<ul>
				<li class="item--footer">c2016 French Accelerator : ALl rights reserved - </li>
				<li class="item--footer">Crafted with "coeur" by <a href="">Bold+Beyond</a></li>
			</ul>
		</div>

	</div>
</footer>
